.navbar {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  width: 150px;
}

.navbar-menu {
  display: flex;
  gap: 20px;
  list-style: none;
  color: var(--main-blue);
  font-size: 1.2rem;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar-right img {
  width: 30px;
  height: 30px;
}

.navbar button {
  background: transparent;
  font-size: 1.2rem;
  color: var(--main-blue);
  border: 1px solid var(--main-orange);
  padding: 10px 18px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.navbar button:hover {
  background: var(--main-orange);
  color: white;
}

.navbar .active {
  padding-bottom: 2px;
  border-bottom: 2px solid var(--main-orange);
}

.navbar li {
  cursor: pointer;
}

.navbar-search-input {
  padding: 5px 10px;
  border: 1px solid var(--main-blue);
  border-radius: 4px;
}

.navbar-cart-icon {
  position: relative;
}

.navbar-cart-icon .dot {
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  background-color: var(--main-orange);
  border-radius: 5px;
  top: -8px;
  right: -8px;
}

.navbar-profile {
  position: relative;
}

.navbar-profile-dropdown {
  position: absolute;
  display: none;
  right: 0;
  z-index: 1;
  color: var(--main-blue);
}

.navbar-profile:hover .navbar-profile-dropdown {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  /* #fff2ef; */
  padding: 12px 25px;
  border-radius: 4px;
  border: 1px solid var(--main-orange);
  outline: 2px solid white;
  list-style: none;
}

.navbar-profile-dropdown li {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.navbar-profile-dropdown li:hover {
  color: var(--main-orange);
}

.navbar-profile-dropdown img {
  width: 1.5rem;
}

.navbar-profile-dropdown li p {
  white-space: nowrap;
}

@media (max-width: 1023px) {
  .navbar .logo {
    width: 140px;
  }

  .navbar-menu {
    gap: 13px;
    font-size: 1.1rem;
  }

  .navbar-right {
    gap: 12px;
  }

  .navbar-right img {
    width: 22px;
  }

  .navbar-right button {
    padding: 8px 8px;
  }
}

@media (max-width: 767px) {
  .navbar .logo {
    width: 120px;
  }

  .navbar-menu {
    gap: 10px;
    font-size: 1rem;
  }

  .navbar-right {
    gap: 7px;
  }

  .navbar-right img {
    width: 24px;
  }

  .navbar-right button {
    padding: 7px 10px;
    font-size: 1.1rem;
  }
}

@media (max-width: 579px) {
  .navbar-menu {
    display: none;
  }
}
