.navbar {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  width: 150px;
}

.navbar-menu {
  display: flex;
  gap: 20px;
  list-style: none;
  color: var(--main-blue);
  font-size: 18px;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar-right img {
  width: 25px;
  height: 25px;
}

.navbar button {
  background: transparent;
  font-size: 16px;
  color: var(--main-blue);
  border: 1px solid var(--main-orange);
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.navbar button:hover {
  background: var(--main-orange);
  color: white;
}

.navbar .active {
  padding-bottom: 2px;
  border-bottom: 2px solid var(--main-orange);
}

.navbar li {
  cursor: pointer;
}

.navbar-search-icon {
  position: relative;
}

.navbar-search-icon .dot {
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  background-color: var(--main-orange);
  border-radius: 5px;
  top: -8px;
  right: -8px;
}

@media (max-width: 1023px) {
  .navbar .logo {
    width: 140px;
  }

  .navbar-menu {
    gap: 20px;
    font-size: 17px;
  }

  .navbar-right {
    gap: 15px;
  }

  .navbar-right img {
    width: 22px;
  }
  
  .navbar-right button {
    padding: 8px 16px;
  }  
}

@media (max-width: 767px) {
  .navbar .logo {
    width: 120px;
  }

  .navbar-menu {
    gap: 15px;
    font-size: 16px;
  }

  .navbar-right {
    gap: 12px;
  }

  .navbar-right img {
    width: 20px;
  }
  
  .navbar-right button {
    padding: 7px 15px;
    font-size: 15px;
  }  
}

@media (max-width: 579px) {
  .navbar-menu {
    display: none;
  }
}
