.my-orders {
  margin: 50px 0px;
}

.my-orders h2 {
  text-align: center;
}

.my-orders__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}

.my-orders__order {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 2fr 1fr;
  align-items: center;
  gap: 30px;
  padding: 10px 20px;
  color: #454545;
  border: 1px solid var(--main-orange);
  border-radius: 4px;
}

.my-orders__order img {
  width: 50px;
}

.my-orders__order p span {
  color: var(--main-orange);
}

.my-orders__order p b {
  font-weight: 500;
  color: #454545;
}

.my-orders__order button {
  border: none;
  padding: 12px 0px;
  border-radius: 4px;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.my-orders__order button:hover {
  background-color: var(--main-orange);
}

@media (max-width: 767px) {
  .my-orders__order {
    grid-template-columns: 1fr 2fr 1fr;
    row-gap: 5px;
    font-size: 14px;
  }

  .my-orders__order button {
    font-size: 14px;
  }
}
